
                  {% if include.sections %}
                    <!-- SIDEBAR -->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                              {% for id in include.sections %}
                                {% assign section = site.doc | where: "id", id | first %}
                                <li><a class="scrollto" href="#{{ section.title | slugify }}">{% if section.menu_name %}{{ section.menu_name }}{% else %}{{ section.title }}{% endif %}</a></li>
                                {% if section.sections %}
                                <ul class="nav doc-sub-menu">
                                  {% for subsection in section.sections %}
								    <li class=""><a class="scrollto" href="#{{ subsection | slugify: 'pretty' }}">{{ subsection }}</a></li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              {% endfor %}
                            </ul>
                        </nav>
                    </div>
                  {% endif %}
